<!DOCTYPE html>
<html>
  <head>
    {% include meta.html %}
      <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">
      <script type="text/javascript">window.baseurl = '{{ site.url }}';</script>
      <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?e7a0c2717a5bdb19c80bf3097908ac33";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
      </script>
      {% include css.html %}
  </head>

  <body class="home overflow-hidden">
    <a href="https://github.com/QingDai">
      <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub">
    </a>
    {% include header.html %}
    {% include main.html %}
    {% include js.html %}
    {% include analytics.html %}
  </body>
</html>
